.App {
  text-align: center;
  background-color: #afafaf;
  min-height: calc(100vh - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: skyblue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: lightseagreen;
}

.red {
  background-color: lightcoral;
}